.dataContent {
	float: right;
	width: 250px;
	height: 150px;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 2px grey;
}

#wrapper {
	float: right;
	width: 410px;
}

#wrapper > .content {
	padding: 6.5%;
}

body {
	background-color: #e7e7e7;
}

#body {
	position: relative;
	margin: 0px 10px 0px 0px;
	padding-top: 110px;
	min-height: 0px;
}

.content {
	width: auto;
	min-height: 0px;
	overflow: auto;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 2%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px grey;
}

#titre {
	font-size: 30px;
}

.content > #titre {
	padding-left: 9.9%;
	color: rgb(47, 147, 123);
}

.projet {
	width: auto;
	min-height: 400px;
	background-image: url('../images/plante.png');
	background-repeat:no-repeat;
	background-position: 100% -10%;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 7% 30% 5% 10%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px grey;
}

hr {
	border: 0px; 
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(47, 147, 123, 1), rgba(0, 0, 0, 0));
}

#content > .content > h3 {
	margin-left: 10%;
	color: #2F937B;
}

/* ol design */
ol {
	counter-reset: li;
	list-style: none;
	padding: 0;
	margin-bottom: 4em;
	margin-left: 9.5%;
	margin-right: 40%;
}

.rectangle-list a {
	position: relative;
	border-radius: 10px 0px 0px 10px;
	display: block;
	padding: .4em .4em .4em .8em;
	margin: .5em 0 .5em 2.5em;
	background-image: linear-gradient(to right, rgb(155, 155, 155), rgba(0, 0, 0, 0));
	color: #272745;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;	
}

.rectangle-list a:hover {
	color: #fff;
	background-image: linear-gradient(to right, rgba(47, 147, 123, 1), rgba(0, 0, 0, 0));
}	

.rectangle-list a:before {
	border-radius: 5px;
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #30b695;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}
			
.rectangle-list a:after {
	position: absolute;
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;				
}

.rectangle-list a:hover:after {
	left: -.5em;
	border-left-color: #30b695;				
}
/* ol design */

/* button */
.button {
	border-radius: 28px;
	color: #ffffff;
	font-size: 25px;
	background: #c5c5c5;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	float: right;
}

.button:hover {
	background: #ffffff;
	color: #c5c5c5;
	text-decoration: none;
}

.button > i {
	margin-top: 9px;
}

.content > .button {
	margin-top: 10px;
	border-radius: 50px 10px 0px 50px;
}

#content > .projet > .projet {
	width: 40%;
	padding-left: 5%;
	padding-top: 5%;
	position: absolute;
}

.projet > .button {
	margin-left: 12.7%;
	position: absolute;
}
/* button  */

/* compte */
#dataCompte {
  position: fixed;
	z-index: 1;
	right: 0px;
	width: 310px;
	height: 100%;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	background: rgb(47, 147, 123);
	-webkit-transform: translate(310px);
	transform: translate(310px);
}

#dataCompte > #compte {
	width: 300px;
	float: right;
	height: 100%;
	background: #5f5f5f;
	padding-top: 100px;
	overflow: auto;
}

#dataCompte > #compte > #photo {
	position: relative;
	width: 110px;
	margin-left: 10px;
	margin-top: 30px;
	height: 120px;
	border-radius: 100%;
	background: #fff;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 100%;
}

#dataCompte > #compte > h5 {
	letter-spacing: 3px;
}

.username {
	margin-left: 130px;
	margin-top: -95px;
	font-weight: 600;
	color: #fff;
}

#username {
	margin-top: -10px;
	color: #30b695;
	font-size: 30px;
}
/* compte */

#close {
	z-index: 1;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 40px;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#close:hover {
  -webkit-transition: rotate(90deg);
  transform: rotate(90deg);
}

#dataCompte > #compte > #option {
	margin-top: 50px;
}

#dataCompte > #compte > #option > .button {
	width: 300px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 147, 123, 1), rgb(95, 95, 95));
	font-size: 15px;
	border-radius: 0px;
	color: #fff;
	text-transform: uppercase;
}

#dataCompte > #compte > #option > .button:hover {
	background: rgb(47, 147, 123)
}
